.btn {
  @apply py-2 px-4 font-semibold border-2 border-white rounded-lg shadow-md text-white bg-gray-400 bg-opacity-70 transform scale-100 duration-150 hover:scale-110 hover:bg-opacity-90;
}

.retroGlow {
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 20px #fff, 0 0 30px #e64100, 0 0 40px #e64100,
      0 0 50px #e64100, 0 0 60px #e64100, 0 0 70px #e64100;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #e64100, 0 0 40px #e64100,
      0 0 50px #e64100, 0 0 60px #e64100, 0 0 70px #e64100, 0 0 80px #e64100;
  }
}
